{
  "extends": ["taro"],
  "rules": {
    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx", ".tsx"] }
    ],
    "import/no-commonjs": "off",
    "import/prefer-default-export": "off",
    "import/first": "off"
  },
  "parser": "babel-eslint"
}
