@import '../../style/theme.scss';

.placeholder {
    font-size: 26px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.38);
}

.form {
    padding: 0 20px;

    .form-flex {
        margin-top: 23px;
        border-bottom: 14px solid #F7F7F7;

        .form-title {
            color: $--color-Dark;
            font-size: 32px;
            font-weight: 600;
        }

        .form-tip {
            color: $--color-gray;
            font-size: 32px;
            font-weight: 400;
            margin-left: 10px;
        }

        .form-des {
            color: $--color-red;
            font-size: 26px;
            font-weight: 500;
            margin-top: 20px;
        }
    }

}

.at-image-picker__flex-item:first-child {
    margin-left: 0;
}

.at-image-picker__flex-box {
    padding: 0;
    margin-top: 30px;
    padding-bottom: 40px;
}

.at-input {
    margin-left: 0;
}

.at-input__title {
    font-size: 26px;
}

.editor {
    padding: 0.512rem 0;
}

.editor-title {
    padding-bottom: 20px;
}

.school-des {
    margin-top: 15px;
    @extend .placeholder;

}

.space {
    padding-bottom: 20px;
}

.at-input__container {
    align-items: flex-start;
}


.at-switch {
    margin-left: 0;
}


.at-input__children {
    @extend .placeholder;

    &:after {
        margin-right: 40px;

    }
}


.btn {
    position: sticky;
    bottom: 0;
    padding: 20px 0;
    @extend .placeholder;
    color: $--color-white;
    background: #F5AB32;
    text-align: center;
    margin-top: 20px;
}
