@import './theme.scss';

.flex {
    display: flex;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-content {
    justify-content: center;
}

.flex-justify-around {
    justify-content: space-around;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-justify-end {
    justify-content: end;
}

.flex-align-end {
    align-items: flex-end;
}

.flex-align-start {
    align-items: flex-start;
}

.flex-wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}
